<ion-view view-title="My Cart">
     <ion-nav-buttons side="secondary">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="toggleDelete()"></button>
      </div>
    </ion-nav-buttons>
<ion-content>
    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="dish in dishes " href="#/app/menu/{{dish._id}}" class="item item-icon-left" on-swipe-left="deleteCart(dish._id)">
              <i class="icon ion-chevron-right"></i>{{dish.name}}
              <span class="item-note">{{dish.price/100|currency}}</span>
        <ion-delete-button class="ion-minus-circled"
          ng-click="deleteCart(dish._id)">
        </ion-delete-button>
      </ion-item>
       
         <ion-item>
            <h3>TOTAL &nbsp;
                <span class="pull-right">{{total()/100|currency}}</span></h3>
                  <small>GST
                <span class="pull-right">{{total()/1000|currency}}</span></small>
            </ion-item>
         <div class="list">

          <div class="item item-input-inset">
            Cash: &nbsp;<label class="item-input-wrapper">
              <input ng-model="Cash" type="number" placeholder="$0.00">
            </label>
            <button class="button button-small" ng-click="checkout()">
             Checkout
            </button>
          </div>
             <div class="item item-icon-left">
    <i class="icon ion-cash"></i>
                 CHANGE
                     <span class="item-note">{{Change(Cash)/100|currency}}</span>
             </div>
        </div>
        
                
    </ion-list>
    </ion-content>
</ion-view>
   
