<ion-view view-title="Contact Us">
  <ion-content>
   <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
            <h2>Our Address</h2>
            <p>121, Clear Water Bay Road
                Clear Water Bay, Kowloon
                HONG KONG</p>
                <p class="ion-android-call">: +852 1234 5678</p>
            <p class="ion-printer">: +852 8765 4321</p>
            <p class="ion-email">: <a href="">confusion@food.net</a></p>
        </div>
       <div class="button-bar" role="group">
       <a class="button icon ion-android-call button-positive" href="tel:+85212345678"> Call</a>
        <a class="button icon ion-social-skype-outline button-calm" >Skype</a>
        <a class="button ion-email icon button-balanced" href="mailto:confusion@food.net"> Email</a>
           </div>
    </div>
  </ion-content>
</ion-view>