  
<ion-popover-view>
<ion-content class="popover-inner-content">

    <ion-item class="button"   ng-click="addToFavorites(dish._id)">Add to Favorites
</ion-item>
    <ion-item class="button " ng-click="comment()">Add Comment</ion-item>
       
</ion-content>
</ion-popover-view>
 
