<ion-view view-title="My Favorites">
     <ion-nav-buttons side="secondary">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="toggleDelete()"></button>
      </div>
    </ion-nav-buttons>
<ion-content>
    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="dish in dishes " href="#/app/menu/{{dish._id}}" class="item-thumbnail-left" on-swipe-left="deleteFavorite(dish._id)">
        <img ng-src="{{dish.image}}">
        <h2>{{dish.name}}
         <span style="font-size:75%">{{dish.price/100 | currency}}</span>
        <span class="badge badge-assertive">{{dish.label}}</span></h2>
        <p>{{dish.description}}</p>
        <ion-delete-button class="ion-minus-circled"
          ng-click="deleteFavorite(dish._id)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
    </ion-content>
</ion-view>
