<ion-view view-title="Menu">
    <ion-nav-buttons side="secondary">
      <div class="buttons">
          <a href="#/app/cart" class="button button-icon icon ion-ios-cart"></a>
      </div>
    </ion-nav-buttons>
    
    <div class="tabs-striped tabs-color-royal">
    <ul class="tabs">
         <li class="tab-item"><a ng-click="clear()"
                    >All</a></li>
                    <li class="tab-item" ng-repeat="dish in dishes" ng-class="{active:isSelected(dish.category)}">
                    <a ng-click="select2(dish.category)"
                    >{{dish.category}}</a></li>
    </ul>
  </div>
  <ion-content>
      <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="filtText2">
  </label>
</div>
    <ion-list>
      <ion-item ng-repeat="dish in dishes | filter:{category: filtText} |filter:filtText2" href="#/app/menu/{{dish._id}}" class="item-thumbnail-left">
        <img ng-src="{{baseURL+dish.image}}">
        <h2>{{dish.name}}
         <span style="font-size:75%">{{dish.price/100 | currency}}</span>
        <span class="badge badge-assertive">{{dish.label}}</span></h2>
        <p>{{dish.description}}</p>
        <ion-option-button class="button-assertive icon ion-heart"
            ng-click="addToFavorites(dish._id)">
        </ion-option-button>
           <ion-option-button class="button-dark icon ion-ios-cart"
            ng-click="addToCart(dish._id)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>